/* -------------------------------- Home Jumbotron -------------------------------- */
.jumbotron {
  background-color: #00101f;
  color: white;
}

.jumbotron img {
  width: 50%;
  height: auto;
}

.jumbotron-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.display-text {
  font-size: 21px;
  font-weight: 200;
  color: #00101f;
  padding-top: 100px;
  padding-bottom: 100px;
}


/* -------------------------------- Home Buttons -------------------------------- */
.btn-home {
  display: inline-block;
  background-color: #00101f;

  color: white;

  padding: 15px 30%;
  margin-bottom: 30px;
  border-color: #FFE36C;
}

.btn-home:hover {
  color: #00101f !important;
  background-color: #FFE36C;
}

/* Medium devices 992px and up */
@media (min-width: 992px)  {
  .btn-wraper:nth-child(2) .btn-home {
    margin-right: 20%;
  }

  .btn-wraper:nth-child(1) .btn-home {
    margin-left: 20%;
  }
}
