<div class="page">
  <div class="jumbotron text-center">

    <div class="jumbotron-content">
      <div class="container">

        <img src="assets/img/home_logo.png">

        <p class="margin-top">Did you ever try to learn something by heart? Did you find it difficult? Were you in a
        situation where you had to learn something by heart, or did you just want to memorize that
        cool quote you heard from Einstein? If so, then we have good news for you! We have the solution:
        <strong>“Quote Memory”</strong>. By using our application, learning things by heart will become
        both easy and fun.</p>

        <div class="margin-top">
          <a [routerLink]="['login']" class="btn-quote btn-home">Log In</a>
          <a [routerLink]="['signup']" class="btn-quote btn-home">Sign In</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container text-center">
      <div class="row">

        <p class="display-text">You can add your own quotes to learn or you can try learning quotes added by other users.
        We have a <i>“daily quote”</i>, you can categorize your quotes, and of course, you can do quizzes to see
        if you learnt something or not. Not enough to get you started? Find a friend and learn quotes together!
        Join our community!</p>

      </div>
  </div>
</div>
