<div class="container padding-top page content">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title">Quiz Works</h1>

      <div *ngIf="error">
        {{error}}
      </div>

      {{quote.identifier}}

      <div *ngIf="success">
        {{success}}
      </div>

      <div *ngIf="!success">
        <input [(ngModel)]="input" class="text-input"><br>
        <button (click)="check()" class="btn-quote">Check Answer</button><br>
        <button (click)="show()" class="btn-quote">Show Answer</button>
      </div>
    </div>
  </div>
</div>
