<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['']">Quote Memory</a>
    </div>
    <div class="collapse navbar-collapse" id="my-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!currentUser"><a [routerLink]="['']">Home</a></li>
        <li *ngIf="currentUser"><a [routerLink]="['statistics']">Statisitcs</a></li>
        <li *ngIf="currentUser"><a [routerLink]="['quiz']">Quiz</a></li>
        <li *ngIf="currentUser"><a [routerLink]="['add-quote']">Add Quote</a></li>
        <li *ngIf="currentUser"><a [routerLink]="['quotes-list']">Quotes List</a></li>
        <li *ngIf="!currentUser"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="!currentUser"><a [routerLink]="['signup']">Signup</a></li>
        <li *ngIf="currentUser"><a (click)="logout()">Logout</a></li>
        <li *ngIf="currentUser"><a [routerLink]="['']">{{currentUser}}</a></li>
      </ul>
    </div>
  </div>
</nav>
