/* Basic Style */
body {
  background-color: #ECF0F1;
  min-height: 60vh;
  position: relative;
}

.page {
  min-height: 60vh;
}

.title {
  padding: 15px 0;
}

.margin-top {
  margin-top: 100px;
}

.padding-top {
  padding-top: 100px;
}

a:hover,
a:active,
a:link {
  text-decoration: none;
}


/* Button */
.btn-quote {
  width: 100%;

  background-color: #FFF;

  font-size: 14px;
  text-transform: uppercase;
  padding: 15px;
  margin-bottom: 20px;

  border: 3px solid #005aa8;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-quote:hover {
  color: #FFE36C !important;
  background-color:  #005aa8;
}


/* Form Style */
.form-content {
  background: #FFF;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.text-input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
}

.text-label {
  padding: 15px;
  margin: 0 0 15px;
}

/* Content */
.content {
  background: #FFF;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
